---
title: ClearElection Documentation
---
#Header
  .contents
    .banner
      .check
      .title Clear Elections
      .subtitle Documentation
    #Stub
      .div
        Sorry, no documentation yet.
        %i.fa.fa-frown-o
      .links
        "Use the Source Luke"
        .link
          %a(href="https://github.com/clearelection/clear-election-sdk-ruby")
            clear-election-sdk-ruby
            %i.fa.fa-external-link
        .link
          %a(href="https://github.com/clearelection/booth-agent")
            booth-agent
            %i.fa.fa-external-link
        .link
          %a(href="https://raw.githubusercontent.com/ClearElection/clear-election-sdk-ruby/master/schemas/election-0.0.schema.json")
            election-0.0.schema.json
            %i.fa.fa-external-link
        .link
          %a(href="https://raw.githubusercontent.com/ClearElection/clear-election-sdk-ruby/master/schemas/ballot-0.0.schema.json")
            ballot-0.0.schema.json
            %i.fa.fa-external-link
        .link
          %a(href="https://raw.githubusercontent.com/ClearElection/clear-election-sdk-ruby/master/schemas/api/booth-agent-0.0.schema.json")
            booth-agent-0.0.schema.json
            %i.fa.fa-external-link
        .link
          %a(href="http://info.clearelection.org/examples/election0.json")
            http://info.clearelection.org/examples/election0.json
            %i.fa.fa-external-link
